<!doctype html>
<html class="no-js ui-mobile-rendering" lang="en">
<head>
      <title>Backbone.js, Require.js, and jQuery Mobile</title>
      <meta name="description" content="">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="css/jquery.mobile-1.4.2.min.css" />
      <link rel="stylesheet" href="css/jw-jqm-cal.ios7.css" />
      <script src="bower_components/requirejs/require.js" data-main="app"></script>
</head>
<body>

<div id="categories" data-role="page" data-title="Categories">
  
      <div data-role="header">
            <h1>分类</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <h2>选择一个分类</h2>
            <ul data-role="listview" data-inset="true">
                  <li><a href="#task" class="task">工作任务</a></li>
                  <li><a href="#category?animals" class="animals">动物</a></li>
                  <li><a href="#category?colors" class="colors">Colors</a></li>
                  <li><a href="#category?vehicles" class="vehicles">Vehicles</a></li>
            </ul>
      </div><!-- /content -->

</div>

<div id="animals" data-role="page" data-title="Animals">

      <div data-role="header">
      <h1>Animals</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->
</div>

<div id="colors" data-role="page" data-title="Colors">

      <div data-role="header">
      <h1>Colors</h1>
      </div><!-- /header -->

      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="vehicles" data-role="page" data-title="Vehicles">

      <div data-role="header">
      <h1>Vehicles</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<div id="task" data-role="page" data-title="工作任务">

    <div data-role="header">
        <a href="#" data-role="button" data-icon="arrow-l" data-iconpos="notext" class="ui-btn-left next-btn ui-link ui-btn ui-icon-arrow-l ui-btn-icon-notext ui-shadow ui-corner-all" role="button"></a>
        <h1>工作任务</h1>
        <a href="#task?new" data-role="button" data-icon="plus" data-iconpos="notext" class="ui-btn-right next-btn ui-link ui-btn ui-icon-plus ui-btn-icon-notext ui-shadow ui-corner-all" role="button"></a>
    </div><!-- /header -->
  
    <div data-role="content">
        <div id="jqm_cal"></div>
        <ul data-role="listview" data-inset="true">
        </ul>
    </div><!-- /content -->

</div>

<div id="task_detail" data-role="page" data-title="工作任务详情">

      <div data-role="header">
      <h1>工作任务详情</h1>
      </div><!-- /header -->
  
      <div data-role="content">
            <div>this is task detail page</div>
            <ul data-role="listview" data-inset="true">
            </ul>
      </div><!-- /content -->

</div>

<!-- Underscore Template that is used to display all of the Category Models -->
<script id="categoryItems" type="text/template">

      <% _.each( collection.toJSON(), function( category, id ) { %>

            <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
                  <%= category.type %>
            </li>

      <% }); %>

</script>

<script id="taskItems" type="text/template">
      
      <li class="ui-li ui-li-static ui-btn-up-c ui-corner-top">
            {{title}}{{start}}{{end}}
      </li>
      
</script>
</body>
</html>